@use 'base/variables' as v;
@mixin phone {
    @media (min-width: 480px) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}
@mixin laptop {
    @media (min-width: 920px) {
        @content;
    }
}
@mixin grid($column, $gap, $row: auto) {
    display: grid;
    grid-template-columns: $column;
    grid-template-rows: $row;
    gap: $gap;
}